.wrapper {
  display: grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4rem;
}

.title {
  grid-column-align: start;
  justify-self: start;
  margin-bottom: 3rem;
}

.item {
  display: grid;
  display: grid;
  -ms-grid-columns: 4fr 0.5fr 0.5fr;
  grid-template-columns: 4fr 0.5fr 0.5fr;
  gap: 1rem;
  min-width: 30rem;
  max-width: 50rem;
  margin-bottom: 0.5rem;
}

.content {
  list-style-type: none;
  overflow: hidden;
  padding: 1rem;
  background-color: #f9edd2;
  border: 0;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  color: white;
}

.btn-active {
  background-image: url("../../../lib/Checkmark_Symbol.svg");
  background-position: center;
  background-size: 1rem;
  background-repeat: no-repeat;
  background-color: #4b9d44;
}

.btn-deactive {
  background-image: url("../../../lib/Checkmark_Symbol.svg");
  background-position: center;
  background-size: 1rem;
  background-repeat: no-repeat;
  opacity: 0.3;
  background-color: #4b9d44;
}

.btn-add {
  grid-column-align: start;
  justify-self: start;
  background-color: #8970a5;
  padding: 0.5rem 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 p,
a {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
